body {
	font-family: "open sans", arial, sans-serif;
	margin: 0;
	box-sizing: border-box;
}

h2 {
	font-family: oswald, arial, sans-serif;
}

img {
	border-radius: 50px;
}

.container {
	width: 80%;
	margin: 0 auto;
	background-color: black;
	min-height: 700px;
}

#search-bar {
	width: 100%;
	margin: 0;
	border: 0;
}

.person-card {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 50px;
}

.profile {
	padding: 30px;
	text-align: center;
}

.bio section {
	padding-right: 20px;
}

/*When you click on one of the person elements, a dotted border should appear around it.*/
.active {
  border: 8px dotted black;
}

/*For every even numbered element, have a light yellow background.
For every odd numbered element, have a light blue background*/
#container article:nth-of-type(odd) {
	background-color: lightblue;
}

#container article:nth-of-type(even) {
	background-color: lightyellow;
}
